
{% extends 'home.html' %} 
{% load static %} 

{% block content %}
<h3>Reservasi Hotel</h3>
<form method="POST" class="post-form">
      <br>
      {% csrf_token %}
      <label>Kode Hotel</label>
      {{form.kode_hotel}}
      <br>
      <label>Kode Ruangan</label>
      {{form.kode_ruangan}}
      <br>
      <label>Jenis Bed</label>
      {{form.jenis_bed}}
      <br>
      <label>Tipe</label>
      {{form.tipe}}
      <br>
      <label>Harga per hari</label>
      {{form.harga}}
      <br>
    <!-- <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Nominal</label>
      <input type="text" class="form-control" id="nominal" placeholder="Nominal" required>
    </div> -->
    <button type="submit" class="btn btn-primary">Simpan</button>
  </form>


{% endblock content %}
