
{% extends 'home.html' %} 
{% load static %} 

{% block content %}

<h3>Update Ruangan Hotel</h3>
<form method="POST" class="post-form">
    <br>
    {% csrf_token %}
    <label>Kode Hotel</label>
    <input type="text" name="kode_hotel" value="{{value.0}}" readonly></input>
    <br>
    <label>Kode Ruangan</label>
    <input type="text" name="kode_ruangan" value="{{value.1}}" readonly></input>
    <br>
    <label>Jenis Bed</label>
    {{form.jenis_bed}}
    <br>
    <label>Tipe</label>
    {{form.tipe}}
    <br>
    <label>Harga</label>
    {{form.harga}}
    <br>
    <button type="submit" class="btn btn-primary">Simpan</button>
  </form>

{% endblock content %}
