
{% extends 'home.html' %} 
{% load static %} 

{% block content %}

<h3>Update Reservasi Hotel</h3>
<form method="POST" class="post-form">
    <br>
    {% csrf_token %}
    <label>NIK Pasien</label>
    <input type="text" name="nik" value="{{value.0}}" readonly></input>
    <br>
    <label>Tanggal Masuk</label>
    <input type="text" name="tgl_masuk" value="{{value.1}}" readonly></input>
    <br>
    <label>Tanggal Keluar</label>
    {{form.tgl_keluar}}
    <br>
    <label>Hotel</label>
    <input type="text" name="kode_hotel" value="{{value.2}}" readonly></input>
    <br>
    <label>Ruangan</label>
    <input type="text" name="kode_ruangan" value="{{value.3}}" readonly></input>
    <br>
    <button type="submit" class="btn btn-primary">Simpan</button>
  </form>

{% endblock content %}
