<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn">
        <style>
            .navbar {
            background:#D199A7;
            }

            .nav-link,
            .navbar-brand {
                color: white;
                cursor: pointer;
            }
                
            .nav-link:hover {
                color: #000;
            }
                
            .navbar-collapse {
                justify-content: flex-end;
            }

            .typewriter {
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                letter-spacing: .15em; /* Adjust as needed */
                animation: 
                    typing 3.5s steps(40, end),
                    blink-caret .75s step-end infinite;
            }
            
            /* The typing effect */
            @keyframes typing {
                from { width: 0 }
                to { width: 100% }
            }
        </style>
        <title>home</title>
    </head>
    <body style="background-color:darkslategrey;">
            <nav class="navbar navbar-expand-lg sticky-top navbar-light">
                <a class="navbar-brand" style="color:antiquewhite; font-family: Anton" href="/">TKBasdatF2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav" style="color: antiquewhite; font-family: Anton">
                        <li class="nav-item">
                            <a class="nav-link" href="/reservasirs/daftar_reservasi"><b>reservasi rs</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/faskes/daftar_faskes"><b>faskes</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jadwalfaskes/list_jadwal"><b>jadwal faskes</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/"><b>trigger5</b></a>
                        </li>
                        {% if request.session is not None %}
                        <li class="nav-item">
                            <a class="nav-link" href="/trigger1/logout"><b>log out</b></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/trigger1/"><b>log in</b></a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/"><b>register</b></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container" style= "margin-top: 150px;">
                <div style="color: antiquewhite; font-family: Vollkorn">
                    {% if request.session is not None %}
                    <h1 class="typewriter"><center><b>HALO {{request.session.peran}} {{request.session.username}}</b></center></h1><br>
                    {% else %}
                    <h1 class="typewriter"><center><b>HALO</b></center></h1><br>
                    {% endif %}
                    <h2 class="typewriter"><center><b>Selamat datang di SIRUCO</b></center></h2><br>
                    <h4 class="typewriter"><center>by TKBasdatF2</center></h4>
                </div>        
            </div>
    </body>
</html>

