{% extends 'home.html' %} {% block content %}
<h3 class="mt-5 text-center">Register Pasien</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'item:create_item' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    
    <div class="form-group">
      <label for="nik_pasien">NIK Pasien.</label>
      <input
        required
        type="text"
        class="form-control"
        id="nik_pasien"
        name="nik_pasien"
      />
      <small class="form-text text-danger">{{ error }}</small>
    </div>
  
    <div class="form-group">
    <label for="id_pendaftar">ID Pendaftar</label>
    <input
      required
      type="text"
      class="form-control"
      id="id_pendaftar"
      name="id_pendaftar"
    />

    <div class="form-group">
      <label for="nama_pasien">Nama Pasien</label>
      <input
        required
        type="text"
        class="form-control"
        id="nama_pasien"
        name="nama_pasien"
    />

    <div class="form-group">
      <label for="ktp_jalan">Jalan sesuai KTP</label>
      <input
        required
        type="text"
        class="form-control"
        id="ktp_jalan"
        name="ktp_jalan"
      />

      <div class="form-group">
        <label for="ktp_kelurahan">Kelurahan sesuai KTP</label>
        <input
          required
          type="text"
          class="form-control"
          id="ktp_kelurahan"
          name="ktp_kelurahan"
      />

      <div class="form-group">
        <label for="ktp_kecamatan">Kecamatan sesuai KTP</label>
        <input
          required
          type="text"
          class="form-control"
          id="ktp_kecamatan"
          name="ktp_kecamatan"
      />

      <div class="form-group">
        <label for="ktp_kabkot">Kabupaten/kota sesuai KTP</label>
        <input
          required
          type="text"
          class="form-control"
          id="ktp_kabkot"
          name="ktp_kabkot"
      />

      <div class="form-group">
        <label for="ktp_prov">Provinsi sesuai KTP</label>
        <input
          required
          type="text"
          class="form-control"
          id="ktp_prov"
          name="ktp_prov"
      />

      <div class="form-group">
        <label for="dom_jalan">Jalan sesuai domisili</label>
        <input
          required
          type="text"
          class="form-control"
          id="dom_jalan"
          name="dom_jalan"
      />

      <div class="form-group">
        <label for="dom_kelurahan">Kelurahan sesuai domisili</label>
        <input
          required
          type="text"
          class="form-control"
          id="dom_kelurahan"
          name="dom_kelurahan"
      />

      <div class="form-group">
        <label for="dom_kecamatan">Kecamatan sesuai domisili</label>
        <input
          required
          type="text"
          class="form-control"
          id="dom_kecamatan"
          name="dom_kecamatan"
      />

      <div class="form-group">
        <label for="dom_kabkot">Kabupaten/kota sesuai domisili</label>
        <input
          required
          type="text"
          class="form-control"
          id="dom_kabkot"
          name="dom_kabkot"
      />

      <div class="form-group">
        <label for="dom_prov">Provinsi sesuai domisili</label>
        <input
          required
          type="text"
          class="form-control"
          id="dom_prov"
          name="dom_prov"
      />

  </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">
        Buat Item
      </button>
    </div>
  </form>
</div>
{% endblock content %}
