<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <title>TKBasdatF2|Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn">
        <style>
            html,body{
                background: darkslategray;
                font-family:Anton;
                height:100%;
                width: 100%;
            }
        </style>
</head>

<body class="login_back area">  
  <div class="divider"></div>
      <div class="container-fluid">
        <div class="row mainRow align-items-center justify-content-center">
          <div class="login">
            <h2 class="headerText">Sign Up</h2>

            {% if formRole %}
            <form method="POST" action="/RegisterRole/" >
                {% csrf_token %}
                <div class="loginForm">
                  <p class="choiceRole"><label for="id_Role_0">Pilih Role:</label></p>
                    <ul class="row justify-content-between" id="id_Role">
                      <div class="col">
                        <label for="id_Role_0">
                          <div class="menu">
                            <p>Admin Sistem</p>
                            <div style="height: 30px;"></div>
                          </div>
                        </label>
                        <input type="radio" name="Role" value="Admin Sistem" required="" id="id_Role_0">
                      </div>

                      <div class="col">
                        <label for="id_Role_1">
                          <div class="menu">
                            <p>Publik</p>
                            <div style="height: 30px;"></div>
                          </div>
                        </label>
                        <input type="radio" name="Role" value="Publik" required="" id="id_Role_1">
                      </div>

                      <div class="col">
                        <label for="id_Role_2">
                          <div class="menu">
                            <p>Dokter</p>
                            <div style="height: 30px;"></div>
                          </div>
                        </label>
                        <input type="radio" name="Role" value="Dokter" required="" id="id_Role_2">
                      </div>

                      <div class="col">
                        <label for="id_Role_3">
                          <div class="menu">
                            <p>Admin Satgas</p>
                            <div style="height: 30px;"></div>
                          </div>
                        </label>
                        <input type="radio" name="Role" value="Admin Satgas" required="" id="id_Role_3">
                      </div>

                    </ul>
                  <!-- </div> -->
                </div>
                <br>
                <input class="mybutton butwhite" type="submit" value="Register" name="tombol">
            </form>    
            {% endif %}
            
            {% if roleAdminSistem %}
            <form method="POST" action="/insertAdmin/" >
                {% csrf_token %}
                    <div class="loginForm">
                      {{form.as_table}}
                    </div>
                <input type="submit" value="Register" name="tombol" class="mybutton butwhite">
            </form>    
            {% endif %}

            {% if rolePublik %}
            <form method="POST" action="/insertKurir/" >
                {% csrf_token %}
                    <div class="loginForm">
                      {{form.as_table}}
                    </div>
                <input type="submit" value="Register" name="tombol" class="mybutton butwhite">
            </form>    
            {% endif %}

            {% if roleDokter %}
            <form method="POST" action="/insertCS/" >
                {% csrf_token %}
                    <div class="loginForm">
                      {{form.as_table}}
                    </div>
                <input type="submit" value="Register" name="tombol" class="mybutton butwhite">
            </form>    
            {% endif %}

            {% if roleAdminSatgas %}
            <form method="POST" action="/insertKonsumen/" >
                {% csrf_token %}
                <div class="loginForm container1">
                    {{form.as_table}}
                </div>
              <input type="submit" value="Register" name="tombol" class="mybutton butwhite">
            </form>
            {% endif %}
            
        <p class="text--center" style="color: white;background-color: grey;border-radius: 7px;">{{message}}</p>
        </div>
    </div>
    <div class="divider"></div>
</body>
</html>