{% extends 'home.html' %}
{% load static %}

{% block content %}
<body>
    <div>
        <h3 class="text-center">Update Pasien</h3>
    </div>
    <div class="flex-container d-flex justify-content-center btn-toolbar">
        <form method="POST">
            {% csrf_token %}
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Pendaftar:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.pendaftar}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                NIK:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.nik}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Nama:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.nama}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Nomor Telepon:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.no_telp}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Nomor Hp:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.no_hp}}
            </div>
            <div class="flex-container d-flex justify-content-center btn-toolbar">
                <p>Alamat (Sesuai KTP)</p>
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Jalan:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.jalan_ktp}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Kelurahan:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.kelurahan_ktp}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Kecamatan:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.kecamatan_ktp}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Kabupaten/Kota:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.kabkot_ktp}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Provinsi:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.provinsi_ktp}}
            </div>

            <div class="flex-container d-flex justify-content-center btn-toolbar">
                <p>Alamat (Domisili)</p>
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Jalan:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.jalan_dom}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Kelurahan:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.kelurahan_dom}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Kecamatan:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.kecamatan_dom}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Kabupaten/Kota:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.kabkot_dom}}
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                Provinsi:
            </div>
            <div class="flex-container d-flex justify-content-center" style="padding-bottom: 5%;">
                {{form_update_pasien.provinsi_dom}}
            </div>
            <div class="flex-container d-flex justify-content-center btn-toolbar">
                <button type="submit" value="Submit" class="buttons btn btn-warning" style="margin-top: 2%;">Simpan</button>
            </div>
        </form>
    </div>

</body>
{% endblock content %}
