<!DOCTYPE html>
<html lang="en">
    <head>
       <title>TKBasdatF2|Reservasi RS/title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn">
        <style>
            html,body{
                background: darkslategray;
                font-family:Anton;
                height:100%;
                width: 100%;
            }

            .navbar {
            background:#D199A7;
            }

            .nav-link,
            .navbar-brand {
                color: white;
                cursor: pointer;
            }
                
            .nav-link:hover {
                color: #000;
            }
                
            .navbar-collapse {
                justify-content: flex-end;
            }

            .container-fluid{
                height: 100%;
                width: 100%;
            }

            .mainRow {
                height: 100%;
                width: 100%;
                margin: 0;
            }

            .login{
                text-align:center;
                width:50%;
            }
            
            .login input{
                display:block;
                margin:20px auto;
                text-align:center;
            }
            
            .login input[type="text"],.login input[type="password"]{
                line-height:50px;
                padding:0 10px;
                border-radius:30px;
                border:0;
                width:50%;
                background:antiquewhite;
            }
            
            .header{
                height: 100%;
            }
            
            .login input[type="submit"]{
                height:40px;
                border:0;
                background:black;
                color:#fff;
                width:30%;
                border-radius:5px;
                opacity:0.8;
                cursor:pointer;
            }
            
            .login input[type="submit"]:hover{
                opacity:1;
            }
        </style>
    </head>
    <body class="login_back area" style="height: 100vh;">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light">
            <a class="navbar-brand" style="color:antiquewhite; font-family: Anton" href="/">TKBasdatF2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav" style="color: antiquewhite; font-family: Anton">
                    <li class="nav-item">
                        <a class="nav-link" href="/reservasirs/daftar_reservasi"><b>reservasi rs</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faskes/daftar_faskes"><b>faskes</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jadwalfaskes/list_jadwal"><b>jadwal faskes</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><b>trigger5</b></a>
                    </li>
                    {% if request.session is not None %}
                    <li class="nav-item">
                        <a class="nav-link" href="/trigger1/logout"><b>log out</b></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/trigger1/"><b>login</b></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/"><b>register</b></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="divider"></div>
            <div class="container-fluid">
                <div class="row mainRow align-items-center justify-content-center">
                    <div class="card-body form_bg_color outer-form container form-column col-md-4">     
                        <h2 style="color:antiquewhite;">Formulir Reservasi RS</h2>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                            <label>NIK Pasien</label> {{ form.nik }}
                            </div>
                            <div class="form-group">
                            <label for="validationDefault01">Tanggal Masuk</label> {{ form.tglmasuk }}
                            </div>
                            <div class="form-group">
                            <label for="validationDefault01">Tanggal Keluar</label> {{ form.tglkeluar }}
                            </div>
                            <div class="form-group">
                            <label for="validationDefault01">Kode Rumah Sakit</label> {{ form.kode_rs }}
                            </div>
                            <div class="form-group">
                            <label for="validationDefault01">Kode Ruangan</label> {{ form.kode_ruangan }}
                            </div>
                            <div class="form-group">
                            <label for="validationDefault01">Kode Bed</label> {{ form.kode_bed }}
                            </div>
                            <input class="btn btn-primary" type="submit" value="submit">
                        </form>    
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $("#id_kode_rs").change(function(){
            var url = "{% url 'rumahsakit:list_ruang' %}";
            var kode_rs = $(this).val();
            console.log(kode_rs);
            
            $.ajax({
            url: url,
            data: {
                'kode_rs' : kode_rs
            },
            success: function(data) {
                console.log('test')
                console.log(data);
                console.log('test');
                $("#id_kode_ruangan").html(data);
            }
            });
        });  
    </script>
    
    <script>
        $("#id_kode_ruangan").change(function(){
            var url = "{% url 'rumahsakit:list_bed' %}"
            var kode_ruang = $(this).val();
            var kode_rs = $("#id_kode_rs").val();
            console.log(kode_ruang)
            console.log(kode_rs)

            $.ajax({
                url : url,
                data : {
                'kode_rs' : kode_rs,
                'kode_ruang' : kode_ruang
                },
                success: function (data) {
                console.log(data)
                $("#id_kode_bed").html(data);
                }
            });
        });
    </script>
</html>
      