<!DOCTYPE html>
<html lang="en">
    <head>
       <title>TKBasdatF2|Reservasi RS/title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn">
        <style>
            html,body{
                background: darkslategray;
                font-family:Anton;
                height:100%;
                width: 100%;
            }

            .navbar {
            background:#D199A7;
            }

            .nav-link,
            .navbar-brand {
                color: white;
                cursor: pointer;
            }
                
            .nav-link:hover {
                color: #000;
            }
                
            .navbar-collapse {
                justify-content: flex-end;
            }

            .container-fluid{
                height: 100%;
                width: 100%;
            }

            .mainRow {
                height: 100%;
                width: 100%;
                margin: 0;
            }

            .login{
                text-align:center;
                width:50%;
            }
            
            .login input{
                display:block;
                margin:20px auto;
                text-align:center;
            }
            
            .login input[type="text"],.login input[type="password"]{
                line-height:50px;
                padding:0 10px;
                border-radius:30px;
                border:0;
                width:50%;
                background:antiquewhite;
            }
            
            .header{
                height: 100%;
            }
            
            .login input[type="submit"]{
                height:40px;
                border:0;
                background:black;
                color:#fff;
                width:30%;
                border-radius:5px;
                opacity:0.8;
                cursor:pointer;
            }
            
            .login input[type="submit"]:hover{
                opacity:1;
            }
        </style>
    </head>
    <body class="login_back area" style="height: 100vh;">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light">
            <a class="navbar-brand" style="color:antiquewhite; font-family: Anton" href="/">TKBasdatF2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav" style="color: antiquewhite; font-family: Anton">
                        <li class="nav-item">
                            <a class="nav-link" href="/reservasirs/daftar_reservasi"><b>reservasi rs</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/faskes/daftar_faskes"><b>faskes</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jadwalfaskes/list_jadwal"><b>jadwal faskes</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/"><b>trigger5</b></a>
                        </li>
                        {% if request.session is not None %}
                        <li class="nav-item">
                            <a class="nav-link" href="/trigger1/logout"><b>log out</b></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/trigger1/"><b>login</b></a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/"><b>register</b></a>
                        </li>
                    </ul>
                </div>
        </nav>
        <div class="divider"></div>
            <div class="container-fluid">
                <div class="row mainRow align-items-center justify-content-center">
                    <div class="login">      
                        <h2 style="color:antiquewhite;">List Rumah Sakit</h2>
                        <div class="tmargin table-responsive">
                            <table class="table justify-content-center">
                                <thead class="bg-danger text-white align-items-center">
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">NIK Pasien</th>
                                        <th scope="col">Tanggal Masuk</th>
                                        <th scope="col">Tanggal Keluar</th>
                                        <th scope="col">Rumah Sakit</th>
                                        <th scope="col">Ruangan</th>
                                        <th scope="col">Bed</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for li in daftarreservasi %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{li.0}}</td>
                                        <td>{{li.1}}</td>
                                        <td>{{li.2}}</td>
                                        <td>{{li.3}}</td>
                                        <td>{{li.4}}</td>
                                        <td>{{li.5}}</td>                                                      
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
      