<!DOCTYPE html>
<html lang="en">
    <head>
       <title>TKBasdatF2|FasKes/title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn">
        <style>
            html,body{
                background: darkslategray;
                font-family:Anton;
                height:100%;
                width: 100%;
            }

            .navbar {
            background:#D199A7;
            }

            .nav-link,
            .navbar-brand {
                color: white;
                cursor: pointer;
            }
                
            .nav-link:hover {
                color: #000;
            }
                
            .navbar-collapse {
                justify-content: flex-end;
            }

            .container-fluid{
                height: 100%;
                width: 100%;
            }

            .mainRow {
                height: 100%;
                width: 100%;
                margin: 0;
            }

            .login{
                text-align:center;
                width:50%;
            }
            
            .login input{
                display:block;
                margin:20px auto;
                text-align:center;
            }
            
            .login input[type="text"],.login input[type="password"]{
                line-height:50px;
                padding:0 10px;
                border-radius:30px;
                border:0;
                width:50%;
                background:antiquewhite;
            }
            
            .header{
                height: 100%;
            }
            
            .login input[type="submit"]{
                height:40px;
                border:0;
                background:black;
                color:#fff;
                width:30%;
                border-radius:5px;
                opacity:0.8;
                cursor:pointer;
            }
            
            .login input[type="submit"]:hover{
                opacity:1;
            }
        </style>
    </head>
    <body class="login_back area" style="height: 100vh;">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light">
            <a class="navbar-brand" style="color:antiquewhite; font-family: Anton" href="/">TKBasdatF2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav" style="color: antiquewhite; font-family: Anton">
                    <li class="nav-item">
                        <a class="nav-link" href="/reservasirs/daftar_reservasi"><b>reservasi rs</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faskes/daftar_faskes"><b>faskes</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jadwalfaskes/list_jadwal"><b>jadwal faskes</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><b>trigger5</b></a>
                    </li>
                    {% if request.session is not None %}
                    <li class="nav-item">
                        <a class="nav-link" href="/trigger1/logout"><b>log out</b></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/trigger1/"><b>login</b></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/"><b>register</b></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="divider"></div>
            <div class="container-fluid">
                <div class="row mainRow align-items-center justify-content-center">
                    <div class="card-body form_bg_color outer-form container form-column col-md-4">     
                        <h2 style="color:antiquewhite;">Formulir Reservasi RS</h2>
                        <form action="{% url 'faskes:create_form_jadwal' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="validationDefault01">Faskes</label> {{ form.kode }}
                            </div>
                            <div class="form-group">
                              <label for="validationDefault01">Shift</label> {{ form.shift }}
                            </div>
                            <div class="form-group">
                              <label for="validationDefault01">Tanggal</label> {{ form.tanggal }}
                            </div>
                            <input class="btn btn-primary" type="submit" value="SIMPAN">
                        </form>                                      
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
      