{% load static %}
{% block title %} LIST BED RS {% endblock %}
{% block content %}
<body>
<div style="display:flex; text-align: center; align-items:center">
    <div class="container my-5 d-flex justify-content-center">
        <h2><b>List Bed</b><h2>
    </div>
</div>

<table class="table table-hover table-striped" style="background-color: white;">
    <thead class="text-center">
        <tr>
            <th style="text-align: center; vertical-align: middle;" scope="col">No</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Kode RS </th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Kode Ruangan</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Kode Bed</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
    {%for bed in hasil %}
        <tr class="table-striped">
        <th scope="row">{{forloop.counter}}</th>
        <td>{{bed.koders}}</td>
        <td>{{bed.koderuangan}}</td>
        <td>{{bed.kodebed}}</td>
    {% endfor %}
    </tbody>
</table>

</body>
{% endblock content %}