{% load static %}
{% block title %} LIST JADWAL DOKTER {% endblock %}
{% block content %}
<body>
<div style="display:flex; text-align: center; align-items:center">
    <div class="container my-5 d-flex justify-content-center">
        <h2><b>List Jadwal Dokter</b><h2>
    </div>
</div>

<table class="table table-hover table-striped" style="background-color: white;">
    <thead class="text-center">
        <tr>
            <th style="text-align: center; vertical-align: middle;" scope="col">No </th>
            <th style="text-align: center; vertical-align: middle;" scope="col">No STR </th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Dokter </th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Faskes </th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Shift</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Tanggal</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Jumlah Pasien</th>
        </tr>
    </thead>
    <tbody class="text-center">
    {%for jadwal in hasil %}
        <tr class="table-striped">
        <th scope="row">{{forloop.counter}}</th>
        <td>{{jadwal.nostr}}</td>
        <td>{{jadwal.username}}</td>
        <td>{{jadwal.kode_faskes}}</td>
        <td>{{jadwal.shift}}</td>
        <td>{{jadwal.tanggal}}</td>
        <td>{{jadwal.jmlpasien}}</td>
    {% endfor %}
    </tbody>
</table>

</body>
{% endblock content %}