{% load static %}
{% block title %} LIST RUANGAN RS {% endblock %}
{% block content %}
<body>
<div style="display:flex; text-align: center; align-items:center">
    <div class="container my-5 d-flex justify-content-center">
        <h2><b>List Ruangan</b><h2>
    </div>
</div>

<table class="table table-hover table-striped" style="background-color: white;">
    <thead class="text-center">
        <tr>
            <th style="text-align: center; vertical-align: middle;" scope="col">No</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Kode RS </th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Kode Ruangan</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Tipe</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Jumlah Bed</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Harga Ruangan</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
    {%for ruangan_rs in hasil %}
        <tr class="table-striped">
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ruangan_rs.koders}}</td>
        <td>{{ruangan_rs.koderuangan}}</td>
        <td>{{ruangan_rs.tipe}}</td>
        <td>{{ruangan_rs.jmlbed}}</td>
        <td>{{ruangan_rs.harga}}</td>
    {% endfor %}
    </tbody>
</table>

</body>
{% endblock content %}
